<style>
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Simonetta:400i'); 
</style>


/*header*/

@media screen and (max-width: 960px) {

    body, input, select, textarea {
        font-size: 16px;
        line-height:26px;
    }

}



a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1.36em;
}


a {
    color: #e5474b;
}

h3 {
    color: #1d4ef1;
}
/* Header */

body {
    position: relative;
    padding-top: 5em;
}

#header {
    background: #161616;
    color: ##e0e0e0;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
}

#header .logo {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #1d4ef1;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
}

#header .logo:hover {
    color: #671df1;
}

#header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;
}

#header a:hover {
    color: rgba(255, 255, 255, 0.75);
}

#header a:last-child {
    padding-right: 0em;
}

#contactform {
    padding-left: 20em;
    padding-bottom:20em;
}

/*banner*/
#banner {

    background-color: #e2484c;
    color: #f7a5a7;
    padding: 30em 0 30em 0;
    background-color: #050505;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;
    text-align: left;
    position: relative;
    z-index: 9999;
}

#banner a {
    color: #ffffff;
}

#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #fff;
}

#banner:after {
    -moz-transition: opacity 4s ease;
    -webkit-transition: opacity 4s ease;
    -ms-transition: opacity 4s ease;
    transition: opacity 4s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    opacity: 0.25;
}

#banner .inner {
    max-width: 64em;
    width: calc(100% - 2em);
    margin: 0 auto;
    position: relative;
    z-index: 10000;
    line-height: 1.5;
}


#banner h1 {
    font-size: 4em;
    margin: 0 0 1em 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 700;
}

#banner h1 span {
    font-weight: 400;
}

@media screen and (max-width: 960px) {
    #banner {
        padding: 13em 0 11em 0;
    }

    #main {
        padding: 3em 0 3em 0;
        background: -moz-linear-gradient(top, #FCFFF5 0%, #FCFFF5 50%, #D1DBBD 0%, #D1DBBD 100%);
        background: -webkit-linear-gradient(top, #FCFFF5 0%, #FCFFF5 50%, #D1DBBD 0%, #D1DBBD 100%);
        background: linear-gradient(to bottom, #FCFFF5 0%, #FCFFF5 50%, #D1DBBD 0%, #D1DBBD 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFFF5', endColorstr='#D1DBBD',GradientType=0 );
    }

    #main .inner {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #main .inner article {
        width: 100%;
    }

    #main .inner article:first-child {
        padding-bottom: 4em;
        padding-right: 00;
       
    }

    #main .inner article:last-child {
        padding-top: 4em;
        padding-left: 00;
       
    }


   #contactform {
    
    text-align:center;
   }
